/****************************** */
/* MOBILE FIRST  */
/* **************************** */

@media screen and (max-width: 768px) {
  :root {
    --sidebar-width: 70px;
  }
  .sidebar-nav li div,
  .sidebar-user div {
    width: 100%;
  }
  .sidebar-nav li,
  .sidebar-user {
    padding-right: 0px;
  }
  .offcanvas.offcanvas-end {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
}
