img {
  max-width: 100%;
}

/* PALETTE */

:root {
  --nav-height: 56px;
  --sidebar-width: 150px;
}

/* HEADER */

.mobile_logo {
  height: 40px;
  width: 40px;
}

#nav .lente {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#nav .form-control {
  padding-left: 2.375rem;
}

#nav {
  height: var(--nav-height);
}
/* SIDEBAR */
.sidebar {
  background-color: #051e34;
  background-image: url("../img/sidebar-bg.png");
  background-size: cover;
  height: calc(100vh - var(--nav-height));
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 15px;
}

.sidebar-nav li {
  list-style-type: none;
  gap: 10px;
  padding-right: 15px;
}
.sidebar-nav li div,
.sidebar-user div {
  width: 25px;
}
.sidebar-user {
  gap: 10px;
  padding-right: 15px;
}

.sidebar-nav ul a li:hover,
.sidebar-user:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* MAIN */
#main {
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - var(--nav-height));
  overflow: auto;
}
.main-header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 14px;
}
.main-header .col-3 button {
  padding-top: 4px;
}

.btn_bg-blu {
  background-color: #165bba;
  font-size: 14px;
}
.fa-angles-right {
  font-size: 10px;
}

.grafico {
  padding-top: 16px;
  padding-bottom: 16px;
}
.main-content {
  font-size: 14px;
}
.logo-small span {
  background-color: #f26551;
  border-radius: 50%;
  height: 30px;
  aspect-ratio: 1;
  color: white;
}
.logo-small button i {
  font-size: 15px;
}
.status-btn {
  font-size: 10px;
}
/* FORM NUOVO STUDENTE */
.offcanvas.offcanvas-end {
  width: 50%;
}
